.element__like {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  grid-area: like;
  width: 23px;
  height: 19px;
  margin: auto 30px;
  padding: 0;
  justify-self: end;
}
