.header__logo {
  background-image: url(../../../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 142px;
  min-height: 33px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 426px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    margin-left: 27px;
  }
}
