.avatar {
  width: 120px;
  height: 120px;
  background-image: url(../../images/avatar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  flex: 0 0 auto;
}
